<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
 <ul>
    <li><a href="/home">首页</a></li>
    <li><a href="/about">关于</a></li>
    <li><a href="/detail">详情</a></li>
    <li><a href="/login">登录</a></li>
    <li><a href="/upload">上传图片</a></li>
  </ul>
  我是首页
  <button id="btn">点击我</button>
  <script src="/js/home.js"></script>
</body>
</html>